.footer {
  position: fixed;
  margin: auto;
  bottom: 15vh;
  max-width: 465px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}
